.HeaderWrapper {
  grid-area: header;
 display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  margin: 20px auto;
  background-color: rgb(57, 66, 100)

}

.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 80px;
  color: #fff;

}
.header_menu li {
  display: block;
  position: relative;
  text-align: center;
  -webkit-transform: translateZ(0);
}
.header_menu_tab {
  padding: 33px 27px 24px;
  font-size: 17px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.header_menu_tab:hover {
  background: #50597b;
  border-bottom: 4px solid #11a8ab;
  text-decoration: none;
}
.header_menu_tab .icon {
  padding-right: 15px;
}
.header_menu_number {
  position: absolute;
  line-height: 22px;
  padding: 0 6px;
  font-weight: 700;
  background: #e64c65;
  border-radius: 100%;
  top: 15px;
  right: 2px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.header_menu li:hover .header-menu-number {
  text-decoration: none;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

}

.profile_menu {
  display:flex;
  justify-content:space-around;
  align-items: center;
  width:200px;
}
.profile_menu p {
  font-size: 17px;
  display: inline-block;
  line-height: 76px;
  margin: 0;
  padding-right: 10px;
}
.profile_menu a {
  padding-left: 5px;
}
.profile_menu a:hover {
  text-decoration: none;
}
.small_profile_picture {

}
.small_profile_picture img {
  width:50px;
  height: 50px;
  border-radius: 100%;
}