.HeaderWrapper {
  grid-area: header;
  display: grid;
  background: skyblue;
  grid-template-columns: 150px 240px 300px auto;
  justify-items: center;
  align-items: center;
}

.MainLogo {
  width: auto;
  height: auto;
  display: block;
  margin:0 auto;
}

.MainLogo img {
  display: block;
  margin: 10px auto;
  width: 60%;
}

.SeachHeder {
  display: block;
  width: 100%;
  height:100%;
}
.SeachHeder input {
  margin: 30px auto;
  border: 1px;
  background-color: rgba(239, 161, 222, .7);
  border-radius: 8px;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.92%22%3E%3Cpath%20opacity%3D%22.1%22%20d%3D%22M0%200H16V16H0z%22%2F%3E%3Cpath%20d%3D%22M6.5%201a5.5%205.5%200%200%201%204.383%208.823l3.896%203.9a.75.75%200%200%201-1.061%201.06l-3.895-3.9A5.5%205.5%200%201%201%206.5%201zm0%201.5a4%204%200%201%200%200%208%204%204%200%200%200%200-8z%22%20fill%3D%22%23818c99%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  background-position: 20px;
  background-repeat: no-repeat;
  text-align: center;
  height:50px;
  width: 100%;
}
.HeaderInfo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.HeaderInfo a{
  display: block;
  cursor: pointer;
  background-image: url(http://www.w3.org/2000/svg);
  background-position: center;
  background-color: #ff16be;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}


.HederServices {
  display: block;
}