* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Dialog_wrapper {
    display: grid;
    grid-template-areas:
    "A A A A   A A A A   A A A A"
    "B B B B   C C C C   C C C C"
    "B B B B   C C C C   C C C C";
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.2em;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}


