
.Dialog_wrapper {
    display: grid;
    grid-area: cont;
    grid-gap: 10px;
    grid-template-areas:
        "A A A A"
        "B C C C"
        "B C C C";
    background: skyblue;
    width: 100%;
    height: 100%;
}
