* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ProfWrapp {
    width: 50%;
    min-height: 150px;
    display: grid;
    grid-template-areas:
            "PA PI"
            "BE Ab";
}

.ProfAva {
    grid-area: PA;
    grid-column: 1;
    grid-row: 1;
    width: 150px;
    height: 150px;
}

.ProfAva > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.ProfInfo {
    grid-area: PI;
    grid-column: 2;
    grid-row: 1;
    color: #ffffff;
}

.BtnEdit {
    grid-area: BE;
    grid-column: 1;
    grid-row: 2;
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #efa1de;
    box-shadow: 0 0 5px 0 rgb(240, 130, 203);
    border-radius: 5px;
}

.About {
    grid-area: Ab;
    grid-column: 2;
    grid-row: 2;
}

.AboutList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    list-style-type: none;
}
