* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header header header header"
    "nav-bar cont cont cont"
    "nav-bar cont cont cont";

}

/*.app-wrapper-content {
    display: grid;
    grid-area: cont;
    place-items: center;
    background: skyblue;

}*/






