.Navbar {
    display: grid;
    grid-area: nav-bar;
    grid-gap: 10px;
    align-content: start;
}

.item {

    color: #ff14bd;
    border: .4rem solid #ff14bd;
    border-radius: 1rem;
    font-size: 20px;
    padding: .8rem;
    text-align: center;
}

.item a {
    border: none;
    text-decoration: none;
    font-weight: 400;
    color: #ff14bd;
}


