.Navbar {
    grid-area: nav-bar;
    background-color: #ffff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    align-self: start;
    justify-self: center;
}

.item {
    color: #fffff;
    cursor: pointer;
    display: block;
    position: relative;
    width: 125px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #d4165b;
    border-radius: 20px;
    transition: all 0.4s ;
}

.item:hover {
    color: #fff;
    background-color: transparent;

}

.item:hover {
    color: #ffffff !important;
    background-color: transparent;
    text-shadow: nfour;
}

.item:hover:before {
    right: 0%;
    left: auto;
    width: 200%;
}

.item:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #ffffff ;
    background: #d4165b;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
