* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.PostCommit {
    color: black;
    width: 70%;
    height: auto;
}

.CommentRow {
    padding-top: 10px;
    display: grid;
    grid-template-areas:
    "AV CT CT CT"
    "AV BI CF CF";
    grid-template-rows: minmax(100px, auto);
    box-shadow: 0 0 5px 0 rgba(2, 204, 238, .3);
    border-radius: 10px 10px 10px 0px;
    background: rgba(198, 203, 233, 0.6);
}

.AvaCircle {
    grid-area: AV;
    grid-column: 1;
    grid-row: 1 / 2;
    margin: 0 auto;
}

.AvaCircle img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.FontMedium {
    font-size: large;

}

.CommentText {
    grid-area: CT;
    grid-column: 2/5;
    grid-row: 1;
}

.BtnItems {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    grid-area: BI;
    grid-column: 2;
    grid-row: 2/3;
}

.Like, .DisLike {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.BtnGood {
    display: block;
    align-items: start;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: chartreuse;
    box-shadow: 0 0 5px 0 rgb(240, 130, 203);
    border-radius: 100%;
}

.BtnNoGood {
    display: block;
    align-items: start;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: red;
    box-shadow: 0 0 5px 0 rgb(240, 130, 203);
    border-radius: 100%;

}

.CommentFooter {
    grid-area: CF;
    grid-column: 4/5;
}